// COLORS
$primary-color: #00c2d4;
$secondary-color: #7972F3;
$secondary-color-light: #528bff;

$white-color: #fff;

$dark-grey: #2F3447;

$dark-blue-text: #272341; // For Headings
$medium-blue-text: #5346a8; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

